<div id="project-{{ projectId }}" class="project">
    <img src="{{ asset('images/project-mini/' ~ projectId ~ '.webp') }}" alt="{{ projectId }}'s Image">
    <div class="projectDivider"></div>
    <div class="projectTitleContainer">
        <img src="{{ asset('images/project-mini/' ~ projectId ~ '-icon.webp') }}" alt="{{ projectId }}'s Icon">
        <span>{{ (projectId ~ '_name')|trans({}, 'app') }}</span>
    </div>
</div>